<%- include("partials/header") %>
<div class="row text-center" style="height: 100%;">
    <% images.sort().forEach((item) => { %>
        <div class="col-md-4 col-sm-6">
            <div class="img-thumbnail">
                <a href="/products/<%= item._id %>" >
                    <span class="price"><% if(item.price) { %>$<%=item.price.toFixed(2) %> <% } %></span>
                    <img class="images" src="<%= item.compressedImage %>">
                    <p class="slidecaption"><%= item.caption %></p>
                     <!-- <p class="price">$<% if(item.price !== null) { %><%=item.price.toFixed(2) %> <% } %></p>  -->
                </a>
            </div>
        </div>

    <% }); %>
</div>

<%- include("partials/footer") %>