<%- include("partials/header"); %>
<div class=container id="mastercontainer">
    <div class="img-thumbnail" id="cecontainer">
        <img id="captionedit" src="/<%= image.image %>">
    </div>
    <div>
        <form action="/dashboard/captions/<%= image._id %>?_method=PUT" method="POST">
            <input type="text" name="caption" placeholder="Add Caption" value="<%= image.caption %>">
            <input type="submit">
        </form>
    </div>
</div>


<%- include("partials/footer"); %>