<%- include("partials/header") %>
<div class="container">

    <header>
        <div class="container">
            <h1 class="display-4">Legacy Monuments</h1>
            <p class="lead">Custom Laser Design</p>
        </div>
    </header>

    <div id="slideshow">
        <a id="slidelink" href="/products"><img id="slide" name="slide" src="<%= defaultImg %>" alt="<%= defaultAlt %>"></a>
        <a class="slidecaption" href="/products"><%= defaultCaption %></a>
        <button class="left-btn" onclick="nextSlide(-1)">&#10094;</button>
        <button class="right-btn" onclick="nextSlide(+1)">&#10095;</button>
    </div>

    <div id="about">
        <p>Legacy Monuments is an engraving company that proudly specializes in
            laser engraving and cutting services for monuments, signs, portraits and gifts.
        </p>
    </div>


</div>
<%- include("partials/footer") %>